@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quicksand:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,body,#root,.app{
  box-sizing: border-box; 
  margin: 0;
  background: white;
  overflow-x: hidden;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }
a:hover{
  color: white;
}

body{
  background-color: rgb(220, 215, 215);
}

.favourite:hover{
  color: red;

}

.new-category {
  max-width: 300px;
  margin: 0 auto;
}

.new-category label {
  display: block;
  margin-bottom: 5px;
}

.new-category input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.new-category button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}